
.home {
    width: 100%;
    height: 100vh;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.home-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.home-container p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.home-container .btn{
    background-color: rgb(154, 154, 200);
    border-radius: 20px 10px;
    border: 0.2px solid rgb(125, 125, 224);
    box-shadow:1px 2px 5px rgb(129, 129, 218);
    width: 35%;
    height: 50px;
    color: rgb(252, 252, 252) !important;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 20px;
}
.home-container .btn:hover{
    background-color: rgb(129, 129, 221);
    border-radius: 20px 30px;
}
.img {
    margin-left: auto;
    margin-right: 50px;
    display: block;
    width: 300px; /* Default fixed width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px 45px;
}
@media (max-width: 1200px) {
    .home-container {
        width: 70%;
    }

    .home-container h1 {
        font-size: 2.5rem;
    }

    .home-container p {
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) {
    .home-container {
        width: 90%;
    }

    .home-container h1 {
        font-size: 2rem;
    }

    .home-container p {
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    .home-container {
        width: 100%;
        padding: 0 10px;
    }

    .home-container h1 {
        font-size: 1.5rem;
    }

    .home-container p {
        font-size: 0.875rem;
    }

    .img {
        width: 100%; /* Full width for mobile screens */
        height: auto; /* Maintain aspect ratio */
        margin-right: 0; /* Adjust margin for mobile screens */
    }

    .button {
        padding: 5px 15px; /* Adjust padding for mobile screens */
        font-size: 0.75rem; /* Adjust font size for mobile screens */
        width: 100%; /* Full width for mobile screens */
    }
}



@media (max-width: 1200px) {
    .img {
        width: 250px; /* Adjust width for medium screens */
        height: auto; /* Maintain aspect ratio */
    }
}

@media (max-width: 768px) {
    .img {
        width: 200px; /* Adjust width for tablet screens */
        height: auto; /* Maintain aspect ratio */
    }
}

@media (max-width: 480px) {
    .img {
        width: 100%; /* Full width for mobile screens */
        height: auto; /* Maintain aspect ratio */
        margin-right: 0; /* Adjust margin for mobile screens */
    }
}