.user-png{
    width: 30px;
    height: 30px;
}

.navbar-brand
{
    color: #f39aa9;
    font-size: 2rem;

}

.btn-nav
{
    background-color: #A0E7E5;
    border-radius: 18px 12px;
    border: 1px solid #92dfdc;
    box-shadow:1px 2px 5px #91e4e1;
    width: 90%;
    color: white !important;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    
    


}

.btn-nav:hover
{
    background-color: #4bc5c1;
    border-radius: 20px 30px;
}